//Header
.header {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/leaf.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 12.5%;
  &__top-relative {
    padding-top: 1rem;
    display: flex;
    align-items: baseline;
    // width: 117rem;
    // margin: 0 auto;
    .menu {
      margin-left: 14%;
      z-index: 2;
      &__list {
        display: flex;
      }
      &__item {
        margin: 0 2.5rem;
      }
      &__link {
        color: var(--gray-dark);
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.2s linear;
        position: relative;
      }
      &__link::after {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        height: 2px;
        background: var(--primary-color);
        transition: width 0.3s;
        transform: translateX(-50%);
        left: 50%;
      }
      &__link:hover::after {
        width: 100%;
        transition: width 0.3s;
      }
      &__link:hover {
        color: var(--primary-color);
      }
    }
    .menu__collapse {
      display: none;
      position: relative;
      top: -5px;
      font-size: 2rem;
      color: var(--primary-color);
      cursor: pointer;
    }

    &__logo {
      max-width: 10rem;
    }
  }
  &__content {
    padding-top: 19rem;
    position: relative;
    max-width: 55.5rem;
    z-index: 2;
    &-slogan {
      font-family: var(--secondary-font);
      color: var(--primary-color);
      margin-bottom: 3rem;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-title {
      font-size: 6rem;
      color: var (--gray-dark);
      font-family: var(--secondary-font);
      font-weight: bold;
      margin-bottom: 3rem;
      line-height: 1.2;
    }
    &-desc {
      font-size: 1.5rem;
      color: var(--gray-dark);
      margin-bottom: 5rem;
    }
    &-cta {
      display: flex;
      align-items: center;
      a:first-child {
        margin-right: 5rem;
      }
    }
  }
  &__image {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 39%;
  }
}

//Header Responsive
@media screen and (max-width: 1439px) {
  .header__content {
    padding-top: 12rem !important;
  }
}
@media screen and (max-width: 767px) {
  //main
  .main {
    padding-top: 5rem;
  }
  //header
  .header {
    min-height: auto !important;
  }
  .header__top {
    justify-content: space-between;
  }
  .header__content {
    padding-top: 10rem !important;
    &-title {
      font-size: 4rem !important;
    }
    &-cta {
      align-items: flex-start !important;
      flex-direction: column !important;
    }
    &-cta a:first-child {
      margin-right: 0;
      margin-bottom: 2.5rem;
    }
  }
  //menu
  .header__top {
    position: fixed;
    z-index: 9;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(31, 145, 188, 1);
    // background: transparent;
    transition: 0.6s;
    height: 6rem;
    &-relative {
      position: relative;
    }
  }
  .header__logo {
    z-index: 10;
    position: absolute;
    left: 2rem;
    top: 1rem !important;
    img {
      max-width: 60% !important;
    }
  }
  .header__image {
    display: none;
  }
  .menu {
    display: none;
    margin: 0 auto !important;
    background: rgba(255, 250, 249, 0.9);
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    z-index: 5 !important;
    transform: translateX(120%);
    transition: all 0.6s;
    justify-content: center;
    &__list {
      flex-direction: column;
      align-items: center;
      padding-top: 8rem;
    }
    &__item {
      margin-bottom: 2rem !important;
      text-align: center;
    }
  }
  .menu__collapse {
    display: block !important;
    z-index: 11;
    right: 2rem;
    top: 2rem !important;
    position: absolute !important;
  }
  #sticky {
    display: none !important;
  }
  .open--menu {
    transform: translateX(0) !important;
  }
}

//Sticky Menu
#sticky {
  transform: translateY(-200px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 10rem;
  z-index: 10;
  background-color: white;
  transition: 0.6s;
  padding: 0 1.5rem;
}
//Toggle class
.is--show {
  transform: translateY(0);
}

//About
.about {
  &__inner {
    position: relative;
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
  &__flower1 {
    position: absolute;
    top: 10%;
    left: 0;
    max-width: 13.5rem;
  }
  &__flower2 {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 7rem;
    transform: translateY(-50%);
  }
  &__content {
    z-index: 5;
    text-align: center;
    position: relative;
    margin: 0 auto;
    h3 {
      text-transform: uppercase;
      color: var(--gray-light);
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  }
  &__content > img {
    margin: 0 auto 4rem;
    max-width: 8rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 24.8%;
    position: relative;
    &-content {
      background-color: var(--primary-color);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: var(--secondary-font);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s linear, visibility 0.2s linear;
    }
    &:hover &-content {
      opacity: 1;
      visibility: visible;
    }
    &-content > img {
      max-width: 5rem;
      margin-bottom: 1rem;
    }
    &-content > span {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
}

//About Responesive
@media screen and (max-width: 1023px) {
  .about__item {
    width: 49.6%;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    max-width: 72%;
  }
  .about__item > img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  //About
  .about {
    &__inner {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }
    &__item {
      width: 100%;
    }
  }
  .about__item {
    padding: 0 2rem;
    margin-bottom: 2rem;
    &-content {
      left: 2rem;
      right: 2rem;
    }
  }
  .about__item > img {
    width: 100%;
    object-fit: cover;
  }
}

//Popular
.popular {
  background-color: #fff;
  padding-top: 14rem;
  padding-bottom: 14rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc(33.33% - 13.33px);
    border: 1px solid #eee;
  }
  &__link {
    height: 100%;
    display: block;
    padding: 2rem 2rem 4.5rem;
    text-align: center;
    transition: box-shadow 0.2s linear; // TRANSITION BOX-SHADOW
    .title {
      font-family: var(--secondary-font);
      font-size: 2.2rem;
      margin-bottom: 3rem;
      margin-top: 5rem;
      color: var(--gray-dark);
    }
    .desc {
      font-size: 1.4rem;
      line-height: 2;
      color: var(--gray-light);
      margin-bottom: 4rem !important;
      width: 90%;
      margin: 0 auto;
    }
    &:hover {
      box-shadow: 0 0 14px 14px rgba(0, 0, 0, 0.025);
    }
    &:hover .btn--secondary {
      background-color: var(--primary-color);
    }
  }
  &__link > img {
    width: 100%;
    height: 26.5rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .popular__item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

//Quote
.quote {
  padding-top: 14rem;
  padding-bottom: 14rem;
  background-color: var(--bg-block);
  &__item {
    text-align: center;
    margin-bottom: 6rem;
    .author {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    .author-name {
      font-family: var(--secondary-font);
      font-size: 1.6rem;
    }
    .author-name span {
      font-family: var(--primary-font);
      font-size: 1.2rem;
    }
  }
  .desc {
    max-width: 80%;
    margin: 5rem auto;
    font-size: 1.4rem;
    color: var(--gray-light);
    line-height: 1.8;
    font-weight: bold;
  }
  &__item img {
    margin: 0 auto;
  }
}

//Experieced Team
.team {
  padding-top: 14rem;
  padding-bottom: 20rem;
  background-color: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(33.33% - 20px);
    position: relative;
    &:hover .team__info {
      transform: translateY(25%);
      box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.025);
    }
    &:hover .team__social {
      opacity: 1;
      visibility: visible;
    }
  }
  &__info {
    background-color: #fff;
    padding: 3.5rem 4.5rem 2.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 3rem;
    right: 3rem;
    transform: translateY(70%); // translate block info
    transition: transform 0.2s linear;
  }
  &__name {
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  &__job {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray-light);
  }
  &__social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    // hide social
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--gray-dark);
      border: 1px solid;
      border-radius: inherit;
      transition: 0.2s linear;
    }
    li {
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      margin: 0 7.5px;
      flex-shrink: 0;
    }
    li:hover a {
      background-color: var(--primary-color);
      border: none;
    }
    li:hover a > i {
      color: var(--white);
    }
  }
}

//Booking
.booking {
  background-color: var(--bg-block);
  display: flex;
  flex-wrap: wrap;
  &__image {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__form {
    width: 60%;
    padding: 10rem;
    input,
    select {
      text-transform: uppercase;
      color: var(--gray-light);
      font-size: 1.2rem;
      padding: 1.5rem 0;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid currentColor;
      width: 100%;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      font-family: var(--primary-font);
    }
  }
  // ẩn mũi tên cho input date
  .form-group {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    .custom-input {
      display: flex;
      position: relative;
      // ẩn dấu x khi chọn date và time
      input::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
      }
      i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        color: var(--gray-light);
      }
    }
    .custom-input,
    input,
    select {
      width: calc(50% - 1rem);
    }
    .custom-input > input {
      width: 100%;
    }
  }
  .form-single {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }
  button:hover {
    background-color: var(--gray-dark);
  }
}
@media screen and (max-width: 767px) {
  .booking {
    &__image {
      width: 100%;
      padding: 1.5rem;
    }
    &__form {
      width: 100%;
      padding: 1.5rem;
    }
    .custom-input,
    input,
    select {
      width: 100% !important;
    }
  }
  .form-group {
    flex-direction: column;
  }
}

//Blog
.blog {
  .popular__link .title {
    margin-top: 1.5rem;
  }
  .category {
    text-transform: uppercase;
    color: var(--gray-light);
    margin-top: 3.5rem;
    font-size: 1.2rem;
  }
}

//Contact
.contact {
  padding-bottom: 14rem;
  &__info {
    display: flex;
    .address {
      width: 40%;
      padding: 1.5rem 5rem 1.5rem 12.5rem;
      &__group {
        display: flex;
        margin-bottom: 3rem;
        align-items: center;
        .street {
          width: 5rem;
          height: 5em;
          border-radius: 3rem;
          flex-shrink: 0;
          background-color: var(--primary-color);
          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--gray-dark);
            border-radius: inherit;
            transition: 0.2s linear;
            i {
              color: var(--white);
              font-size: 1.5rem;
            }
          }
        }
      }
      p {
        color: var(--gray-light);
        font-size: 1.5rem;
        line-height: 1.6;
        max-width: 65rem;
        padding-left: 3rem;
      }
    }
    &-form {
      width: 60%;
      form {
        display: flex;
        flex-direction: column;
        input {
          text-transform: uppercase;
          color: var(--gray-light);
          font-size: 1.2rem;
          padding: 1.5rem 2rem;
          background-color: transparent;
          border: 1px solid #e8e3e3;
          margin-bottom: 2rem;
        }
        .more-info {
          padding-bottom: 8rem;
        }
        button {
          width: 20rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) {
  .address {
    padding-left: 2rem !important;
  }
}
@media screen and (max-width: 767px) {
  .contact__info {
    flex-direction: column !important;
    .address {
      width: 80%;
      padding: 0 !important;
      margin: 0 auto;
    }
    &-form {
      width: 100%;
    }
  }
}

//Footer
.footer {
  padding: 10rem 0;
  background-color: #fcf6f4;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 3rem;
    }
  }
  &__menu {
    display: flex;
    &-item {
      margin: 0 2.5rem;
    }
    &-link {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      transition: color 0.2s linear;
    }
    &-link::after {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      height: 2px;
      background: var(--primary-color);
      transition: width 0.3s;
      left: 50%;
      transform: translateX(-50%);
    }
    &-link:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
    &-link:hover {
      color: var(--primary-color);
    }
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    li {
      padding: 0 1.5rem;
      border-right: 1px solid grey;
      a {
        font-size: 1.5rem;
      }
      &:hover a > i {
        color: var(--primary-color);
      }
    }
  }
  &__desc {
    span {
      color: var(--primary-color);
    }
  }
}
@media screen and (max-width: 531px) {
  .footer__menu {
    flex-direction: column;
    align-items: center;
    &-item {
      margin: 1rem 0 !important;
    }
  }
  .footer__social {
    li {
      border: none !important;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .team__social {
    opacity: 1;
    visibility: visible;
  }
  .team__info {
    bottom: 3rem;
    transform: translateY(0);
  }
  .team__item {
    width: 100%;
    margin-bottom: 3rem;
  }
  .team__item:hover .team__info {
    transform: none;
  }
  .team__item img {
    width: 100%;
    object-fit: cover;
  }
}

/*Backtop*/
.backtop {
  position: fixed;
  display: block;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--primary-color);
  padding: 0.9rem 1rem;
  i {
    font-size: 2rem;
    color: white;
  }
}

/*Heading*/
.heading {
  margin-bottom: 7rem;
  text-align: center;
  &__title {
    font-size: 4.2rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    margin-bottom: 4rem;
  }
  &__desc {
    color: var(--gray-light);
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 65rem;
    margin: 0 auto;
  }
}

//Button style
.btn {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 1.5rem 3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--primary-color);
}
.btn--secondary {
  background-color: var(--gray-dark);
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--icon i {
  margin-left: 1rem;
  color: inherit;
}

.btn__play-video {
  display: flex;
  align-items: center;
  i {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    background-color: var(--bg-block);
    color: var(--primary-color);
    margin-right: 10px;
  }
  span {
    color: var(--gray-dark);
    font-size: 1.4rem;
  }
}
